body {
    background-color: #F0F0F0;
}

#logo {
    margin-bottom: 10px;
}

#refresh-flow {
    margin-right: 10px !important;
}

.nav-pills {
    margin-bottom: 0px !important;
}

.manywho-debug-info {
    margin-top: 10px !important;
}

.manywho-field-label {
    margin-left: 4px !important;
}

.manywho-wait {
    position: absolute;
    top: 120px;
    left: 50%; 
    width: 250px;
    margin-left: -125px;
}

.manwho-form-field-actions {
    padding-bottom: 5px;
}

.manywho-runtime-presentation-field {
    margin-bottom: 10px !important;
    color: #999999 !important;
}

.manywho-runtime-table-field td {
    vertical-align: middle !important;
}

.manywho-runtime-table-field-contaner {
    overflow: auto; 
    max-height: 320px;
}

.manywho-field {
    display: inline-block;
    margin-right: 5px;
}

.manywho-runtime-field-required > div > label {
    font-weight: bold !important;
}

.manywho-runtime-field-required > div > label:after {
    color: #ff0000;
    content: ' *';
    display:inline;
}

#rest-toolbar {
    margin-left: 10px;
}

#rest-editor-toolbar {
    margin-left: 10px;
}

#rest-editor { 
    position: absolute;
    top: 150px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 50%;
}

#rest-response { 
    position: absolute;
    top: 150px;
    left: 50%;
    right: 0px;
    bottom: 0px;
}

.manywho-form-field-loading-indicator {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('https://cdn.manywho.com/images/loading_indicator_16.gif');
    background-repeat: no-repeat;
}

.manywho-runtime-table-field-container {
    position: relative;
    min-height: 96px;
}

.manywho-form-field-table-loading-indicator {
    min-height: 64px;
    min-width: 64px;
    background-image: url('https://cdn.manywho.com/images/loading_indicator_64.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin: 0px 0 0 -32px;
    top: 32px;
    left: 50%;
}
